* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif
}
body {
  margin: 0;
 
 
  

}

.container {
  margin: 0 150px 0 150px; 
   
}

h1, h2, h3 {
  font-weight: lighter; 
} 


